.navContainer {
  padding: 12px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(95, 94, 102);

  text-align: center;
  margin: auto;
  margin-bottom: 2.6vh;
}

.title {
  color: white;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}

.nav {
  color: white;
  cursor: pointer;
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .navContainer {
    width: 50vw;
  }
}
