.recipe {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  margin-bottom: 4vh;
}

.titleContainer {
  display: flex;
  box-shadow: 0px 6px 10px rgba(12, 0, 0, 0.603);
  background-color: rgb(77, 122, 68);
  text-align: center;
  height: fit-content;
  padding: 5px;
  margin: 3vh -1.8vw;
  width: 106%;
  position: relative;
}

.heart {
  position: absolute;
  z-index: 999;
  left: 8%;
  font-size: 22px;
  padding: 2px;
  cursor: pointer;
}

.heartOn {
  color: red;
}

.title {
  flex: 1;
  color: rgb(255, 255, 255);
}

.calories {
  margin: 1vh 0vw;
  color: rgb(30, 158, 41);
  font-weight: bold;
}

.img {
  margin: 2vh 0vw;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.ingredients {
  margin: 1vh 0vw 2vh 0vw;
  color: rgba(31, 141, 40, 0.836);
  font-weight: bold;
  list-style-type: none;
}

.ingredient-title {
  text-decoration: underline;
}

.ingredients li {
  text-decoration: wavy;
  font-weight: 400;
  color: rgb(19, 36, 20);
}

.link-btn {
  cursor: pointer;
  height: 5vh;
  margin: 2vh 0vw;
  width: 14vw;
  min-width: 146px;
  border: none;
  background-color: rgba(176, 199, 49, 0.616);
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
  .recipe {
    width: 85%;
  }
}
